@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  position: fixed; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  top: 0;
  left: 0;
  right: 0;
  min-height: 400px;
}

.title{
  color: #c0edfc; 
  font-size: 60px; 
  font-weight: bold; 
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  background-color: yellow; 
  color: blue; 
  padding: 5px; 
  margin: 0px;
  box-shadow: 0 0 60px 0 #7faab9; 

}

.page{
  background-color: white;  
  padding-top: 20px;
  width: 100%; 
  height: 100%; 
}

.page-header{
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
img{
  max-width: 10px; 
  max-height: 10px; 
}

.spacer{
  background-color: clear;
  height: 20px;  
}

button{
  margin: 10px; 
}
.loginButton{
  background-color: #c0edfc;  
  border: none; 
  color: black; 
  padding: 15px 32px;
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 20px;   
  border-radius: 4px; 
}

.container{
  background-color: white; 
}
.flex-container-row{
  display:flex; 
  flex-direction: row; 
  justify-content: space-between;  
  height: 100%; 
}
.organizations{
  justify-content: space-evenly; 
}
.flex-container-col{
  display:flex; 
  flex-direction: column; 
  justify-content: space-between; 
}
.large-container{
  width: 50%; 
  /* display: block; */
  overflow: hidden; 
  margin: 0px; 
  min-height: 500px; 
  background-color: #bfdbfe; 
}
.white-background{
 background-color: white;
}
.med-container{
  width: 100%; 
  height: 49%;
  overflow: hidden; 
  margin: 0px; 
  background-color: #c0edfc; 
}
.rounded{
  border-radius: 8px; 
}
.flex-column{
  display: flex; 
  flex-direction: column; 
}
.flex-row{
  display: flex; 
  flex-direction: row; 
}
.user-container{
  margin: 10%;
  color: black;
}
.user-container{
  margin: 10%;
  color: black;
}

