.orgHeader{
    /* padding-top: 2px; 
    padding-left: 16px; 
    padding-right: 16px;  */
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: 10px; 
}
.infoBlock{
    margin-left: 10px;
    margin-right: 10px; 
}
.infoTable{
    /* padding: 10px;  */
    width: 100%; 
    /* border: 3px solid;  */
    overflow: hidden; 
}
.infoRow{
    margin-left: auto; 
    margin-right: auto; 
    text-align: left; 
    padding: 20px; 
}
th{
    /* border-bottom: 1px solid black;  */
    font-size: 22px;
}

.donation-row{
    padding: 50px; 
    font-size: 20px; 
    background-color: #60a5fa; 
    border-radius: 50px;  
}
.task-progress {
    margin: 1.5rem 0;
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 10px;
    height: 1rem;
    width:100%; 
  }

  .progress::-webkit-progress-bar {
    background-color: #f0f0f0;
  }

  .progress::-webkit-progress-bar,
  .progress::-webkit-progress-value {
    border-radius: 10px;
  }

  .progress::-moz-progress-bar {
    border-radius: 10px;
  }

  .progress1::-webkit-progress-value {
    background: #185ee2;
  }

  .popup-btn {
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .popup-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
